#insiders {
	width: 1000px;
	height: 250px;

	margin: -125px auto 0;

	background-color: #ccc;
	border-top: solid 3px #666;
	border-bottom: solid 3px #666;
}

#insiders ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 250px;
}
#insiders li {
	float: left;
}

#insiders img {
	width: 250px;
	height: 250px;
}


#video {
	width: 1000px;
	height: 388px;
	margin: 10px auto;
}
#video #player {
	float: left;
	margin-right: 10px;

	width: 690px;
	height: 388px;

	background-color: gray;
}


#stuff {
	width: 1000px;
	height: 233px;
	margin: 10px auto;
}
#stuff .item {
	float: left;
}
#stuff .skip {
	margin-left: 11px;
}
