#insiders {
	/**
	 * Без position изображения скрываются под слайдером,
	 * не важно какой z-index.
	 **/
	position: relative;
	z-index: 10;

	width: 1000px;
	height: 250px;

	margin: -150px auto 20px;

	background-color: #ccc;
	border-top: solid 3px #666;
	border-bottom: solid 3px #666;
}

#insiders ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 250px;
	overflow: hidden;
}
#insiders li {
	float: left;
	position: relative;
}

#insiders li .note {
	display: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background: transparent url(/images/blur.png) repeat;
}
#insiders li:hover .note {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	padding: 25px;
	color: black;
	text-align: center;
}
#insiders .note .name {
	font-weight: bold;
	font-family: serif;
	font-size: 1.5em;
	line-height: 2em;
}

#insiders img {
	width: 250px;
	height: 250px;
}

#insiders .meet {
	margin: 0;
	padding: 0;
}
#insiders .meet a {
	display: block;
	position: absolute;
	top: 125px;
	left: 200px;

	width: 100px;
	height: 100px;
	background: transparent url(/images/residents/meet.png) no-repeat 50% 50%;
	text-indent: -1000px;
}
