#splash {
	width: 100%;
	height: 100%;
	overflow: hidden;

	min-height: 500px;
	max-height: 600px;

	position: relative;
	margin: 0 auto;

	text-align: center;
	vertical-align: middle;
	background-color: #eee;
}

#splash ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 100%;
}
#splash li {
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#splash .hint {
	position: absolute;

	bottom: 50%;
	left: 50px;

	width: 300px;
	padding: 5px 10px;

	line-height: 1.25em;
	text-align: left;

	background-color: white;
	box-shadow: 0 0 20px black;

	color: black;
	border-radius: 5px;
}

.slide_trees {
	background-image: url(/splash/trees.jpg);
}

.slide_stars {
	background-image: url(/splash/stars.jpg);
}
.slide_anna {
	background-image: url(/splash/anna.jpg);
}
.slide_prazd {
	background-image: url(/splash/prazdnik.jpg);
}

#splash li {
	display: none;
}
#splash li:nth-child(1) {
	display: list-item;
}

.bjqs-markers, .bjqs-controls {
	display: none;
}
