#splash {
	width: 100%;
	height: 100%;
	overflow: hidden;

	min-height: 500px;

	position: relative;
	margin: 0 auto;

	text-align: center;
	vertical-align: middle;
	background-color: #eee;
}

#splash ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 100%;
}
#splash li {
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#splash .hint {
	position: absolute;

	bottom: 150px;
	left: 50%;
	margin-left: -500px;

	width: 300px;
	padding: 5px 10px;

	line-height: 1.25em;
	text-align: left;

	background-color: white;
	box-shadow: 0 0 20px black;

	color: black;
	border-radius: 5px;
}
#splash .right .hint {
	left: 50%;
	margin-left: 180px;
}
#splash .top_left .hint {
	left: 100px;
	top: 20px;
	bottom: auto;
}

#splash li {
	display: none;
}
#splash li:nth-child(1) {
	display: list-item;
}

.bjqs-markers, .bjqs-controls {
	display: none;
}
