#video {
	width: 1000px;
	height: 400px;
	margin: 20px auto;
	white-space: nowrap;
}

#video > div {
	display: inline-block;
	vertical-align: top;
}

#video #player {
	margin-right: 10px;

	width: 690px;
	height: 388px;

	background-color: gray;
}

#video #map p {
	text-align: right;
}


.tiles_video .title {
	font-size: 12px;
	color: #444;
}


body.video div.col:nth-child(1) {
	width: 640px;
	margin-right: 20px;
}
body.video div.col:nth-child(2) {
	width: 330px;
}
body.video div.col .date {
	color: gray;
}

body.video #content .row {
	margin-bottom: 10px;
}
body.video #content .nav {
	min-height: 50px;
}
body.video #content .nav a {
	display: inline-block;
	border: 1px solid #196a29;
	background-color: #1D7D31;
	color: white;
	padding: 10px;
	text-decoration: none;
}
body.video #content .nav a:hover {
	text-decoration: underline;
}
body.video #content .nav .next {
	float: right;
}
