#video {
	width: 1000px;
	height: 400px;
	margin: 20px auto;
	white-space: nowrap;
}

#video > div {
	display: inline-block;
	vertical-align: top;
}

#video #player {
	margin-right: 10px;

	width: 690px;
	height: 388px;

	background-color: gray;
}

#video #map p {
	text-align: right;
}


.tiles_video .title {
	font-size: 12px;
	color: #444;
}


body.video div.col:nth-child(1) {
	width: 640px;
	margin-right: 20px;
}
body.video div.col:nth-child(2) {
	width: 330px;
}
body.video div.col .date {
	color: gray;
}
