#video {
	width: 1000px;
	height: 400px;
	margin: 20px auto;
	white-space: nowrap;
}

#video > div {
	display: inline-block;
	vertical-align: top;
}

#video #player {
	margin-right: 10px;

	width: 690px;
	height: 388px;

	background-color: gray;
}

#video #map p {
	text-align: right;
}
