/**
 * Оформление внутренних страниц сайта.
 **/

#content {
	width: 1000px;
	margin: 0 auto;

	line-height: 1.5em;
}

#content img.right {
	float: right;
	margin: 0 0 10px 20px;
}

.wide img {
	width: 100%;
}

a[href$=".pdf"] {
	background-image: url(/images/pdf.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 18px;
}


iframe.youtube-player {
	border: none;
}
