/**
 * Оформление внутренних страниц сайта.
 **/

#content {
	width: 1000px;
	margin: 0 auto 50px;

	line-height: 1.5em;
}

#content img.right {
	float: right;
	margin: 0 0 10px 20px;
}

.wide img {
	width: 100%;
}

a[href$=".pdf"] {
	background-image: url(/images/pdf.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 18px;
}


iframe.youtube-player {
	border: none;
	background-color: gray;
}


body#about_index_html table {
	border-collapse: collapse;
}
body#about_index_html table td,
body#about_index_html table th {
	border: solid 1px #ccc;
	padding: 4px 10px;
}
body#about_index_html table td {
	text-align: right;
}
