/**
 * Оформление кладки из картинок.
 **/

ul.tiles {
	margin: 0;
	padding: 0;
	list-style-type: none;
	clear: both;
}

ul.tiles li {
	display: inline-block;
	vertical-align: top;
	margin-left: 11px;
	margin-bottom: 10px;
}
ul.tiles li.col0 {
	margin-left: 0;
}

ul.tiles .description {
	font-size: 14px;
	line-height: 20px;
	color: gray;
}
ul.tiles .description .title {
	color: black;
	margin-right: .5em;
	font-size: 16px;
}

ul.album .title {
	color: gray;
	font-size: 14px;
}

.tiles li {
	position: relative;
}
.tiles .icons {
	position: absolute;
	top: 233px;
	margin-top: -37px;
	font-size: 1em;
	height: 37px;
}
.tiles .icons img {
	width: 32px;
	height: 37px;
	cursor: help;
}


/**
 * 4 колонки
 **/
ul.tiles_4col li {
	width: 240px;
	margin-left: 13px;
}

ul.tiles img.picture {
	background-color: #eee;
}

ul.tiles_326x233 li {
	width: 326px;
}
ul.tiles_326x233 img {
	width: 326px;
	height: 233px;
}

ul.tiles_240x160 img {
	width: 240px;
	height: 160px;
}


body#go_index_html ul.tiles li {
	margin-bottom: 40px;
}
