#footer {
	width: 100%;
	border-top: solid 3px #666;
	background-color: #ccc;
	padding: 20px 0;
	margin-top: 50px;
}
#footer .wrapper {
	width: 1000px;
	margin: 0 auto;
}
#footer ul {
	display: inline-block;
	width: 320px;

	margin: 0;
	padding: 0;

	color: black;
	font-size: 14px;
	line-height: 1.75em;
	list-style-type: none;
	vertical-align: top;
}


/**
 * Размеры блоков.
 **/
#footer ul {
	width: 235px;
	margin-right: 20px;
}
#footer ul.last {
	margin-right: 0;
}


/**
 * Цвет текста.
 **/
#footer ul {
	color: #444;
}
#footer ul li:nth-child(1) {
	color: black;
	margin-bottom: .5em;
}
#footer a,
#footer a:visited {
	color: #008;
}

#footer li.gray {
	margin-top: 1em;
}
#footer li.gray a {
	color: #888;
}

#footer img {
	border: none;
}
