#header {
	background-color: #3C6D6E;
	background-color: rgba(42, 56, 56, 0.75);
	color: white;
	font-size: 15px;
	line-height: 15px;
	padding: 0px 0;
	height: 60px;
	width: 100%;
}

body.home #header {
	position: absolute;
	z-index: 2000;
}

#header .wrapper {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}
#header h1 {
	display: none;
}

#header ul {
	position: absolute;
	height: 28px;
	margin: 15px 0 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	vertical-align: bottom;
}
#header li {
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0;
	vertical-align: middle;

	line-height: 28px;
	height: 28px;
	vertical-align: bottom;
}
#header li a {
	color: inherit;
}

#header ul.left {
	left: 0;
}
#header ul.right {
	left: 0;
	width: 100%;
	text-align: right;
}
#header li.first {
	margin-left: -10px;
}
#header li.last {
	margin-right: 0;
}

#header li.skip {
	margin-left: 50px;
}

/**
 * TODO: оформить красиво.
 **/
#header #search {
	vertical-align: top;
	background-color: white;
	border-radius: 6px;
	padding-left: 6px;
}
body.home #search:hover {
	box-shadow: 0 0 20px 3px green;
}

#search input[type=text] {
	border: none;
	font-family: inherit;
	font-size: inherit;
	line-height: 1em;
	width: 150px;
	padding: 2px 4px 2px 8px;
	height: 20px;
	outline: none;
}
#search button {
	background-color: transparent;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE5cHgiIGhlaWdodD0iMTlweCIgdmlld0JveD0iMCAwIDE5IDE5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOSAxOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjNzc3Nzc3IiBkPSJNMTcuNjMyLDE2Ljk1NWwtNC43NjEtNC43NjJjMS4xMDktMS4xODgsMS43OTUtMi43NzYsMS43OTUtNC41MjdjMC0zLjY2Ny0yLjk4Mi02LjY0OC02LjY0OS02LjY0OA0KCWMtMy42NjcsMC02LjY0OSwyLjk4MS02LjY0OSw2LjY0N2MwLDMuNjY3LDIuOTgyLDYuNjQ3LDYuNjQ5LDYuNjQ3YzEuMzkxLDAsMi42ODItMC40MzQsMy43NS0xLjE2NGw0LjgzNCw0LjgzNEwxNy42MzIsMTYuOTU1eg0KCSBNMi44MjQsNy42NjZjMC0yLjg2MiwyLjMzLTUuMTkxLDUuMTkyLTUuMTkxYzIuODY0LDAsNS4xOTIsMi4zMjksNS4xOTIsNS4xOTFjMCwyLjg2MS0yLjMyOCw1LjE5MS01LjE5Miw1LjE5MQ0KCUM1LjE1NCwxMi44NTUsMi44MjQsMTAuNTI3LDIuODI0LDcuNjY2eiIvPg0KPC9zdmc+DQo=);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: none;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	text-indent: -1000px;
	cursor: pointer;
	overflow: hidden;
}
